/* You can add global styles to this file, and also import other style files */
.number {
  text-align: right;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.edit {
  margin-right: 10px;
}

.edit>i {
  color: rgb(253, 173, 0);
}

.details {
  margin-right: 10px;
}

.delete>i {
  color: orangered
}

.btn-save {

  margin-right: 10px;
}
