<div class="container">
  <div class="card">
    <div class="card-header">
      <i class="bi bi-people-fill"></i>
      Clientes
    </div>
    <div class="card-body">
      <a name="" id="" class="btn btn-primary" routerLink="/customers/create" role="button">
        <i class="bi bi-person-plus-fill"></i>
        Novo Cliente</a>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>CPF</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.cpf | cpf}}</td>
            <td>
              <a class="edit" routerLink="/customers/update/{{c.id}}">
                <i class="bi bi-pencil-fill" placement="top" ngbTooltip="Editar"></i>
              </a>
              <a class="delete" routerLink="/customers/delete/{{c.id}}">
                <i class="bi bi-trash-fill" placement="top" ngbTooltip="Excluir"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
