<div class="container">
  <div class="card">
    <div class="card-header">
      Pedidos
    </div>
    <div class="card-body">
      <a name="" id="" class="btn btn-primary" href="/orders/create" role="button">Novo Pedido</a>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
