<div class="container pb-3">
  <div class="card">
    <div class="card-header">
      <i class="bi bi-bag-fill"></i>
      Pedidos
    </div>
    <div class="card-body">
      <a name="" id="" class="btn btn-primary" routerLink="/orders/create" role="button">
        <i class="bi bi-bag-plus-fill"></i>
        Novo Pedido</a>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Data</th>
            <th>Cliente</th>
            <th class="number">Valor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders">
            <td>{{o.id}}</td>
            <td>{{o.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{o.customerName}}</td>
            <td class="number">{{o.total | currency: 'BRL'}}</td>
            <td>
              <a class="edit" routerLink="/orders/update">
                <i class="bi bi-pencil-fill" placement="top" ngbTooltip="Editar"></i>
              </a>
              <a class="delete" routerLink="/orders/delete">
                <i class="bi bi-trash-fill" placement="top" ngbTooltip="Excluir"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
